<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.yamap.tl"
      android:versionCode="1"
      android:versionName="2.4.005"
      android:minSdkVersion="4"
      android:installLocation="auto">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".TazReaderActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				<activity android:name=".DirectoryActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light">
        </activity>
				<activity android:name=".TtsActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light">
        </activity>
				<activity android:name=".AboutActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light">
        </activity>
        <activity android:name=".TazSettings" 
        					android:label="@string/preferences"
        					android:theme="@android:style/Theme.Light">
        </activity>
        <activity android:name=".CaricActivity" 
        					 android:label="@string/app_name"
        					android:theme="@android:style/Theme.Light">
        </activity>        
				<service android:name=".service.TazService" />
				<service android:name=".ttsService.TtsService" />
</application>       
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 